<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/assets/burger.js"></script>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css">
    <title>Burger</title>
</head>

<body>
    <h1>Hello</h1>
    {{{body}}}
</body>

</html>